[Unit]
Description=OpenSSH Daemon
After=network.target sshkeygen.service
Before=ssh-access.target
Wants=sshkeygen.service ssh-access.target

[Service]
Type=notify-reload
ExecStart=/usr/bin/sshd -D
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
