name: 'Automatic version updates'
on:
  schedule:
    # minute hour dom month dow (UTC)
    - cron: '0 22 * * *'
  # enable manual trigger of version updates
  workflow_dispatch:
jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
      - name: Install bump
        run: |
          go install github.com/wader/bump/cmd/bump@latest
      - name: Bump version and create PR
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          GIT_AUTHOR_NAME: "ci-robbot"
          GIT_AUTHOR_EMAIL: robot@c3os.io
          WORK_BRANCH: bumps
          UPSTREAM_REPO: "https://github.com/kairos-io/hadron"
          FORK_REPO: "https://github.com/ci-forks/hadron.git"
        run: |
          # Disable this var so bumnp does not think it's running as an action
          unset GITHUB_ACTION
          set -e
          
          # Ensure fork exists
          gh repo fork kairos-io/hadron --clone=false --remote=false --org ci-forks || true

          # Clone fork using PAT for authentication
          git clone https://ci-forks:${GITHUB_TOKEN}@github.com/ci-forks/hadron.git fork
          cd fork

          # Ensure all pushes use the PAT
          git remote set-url origin https://ci-forks:${GITHUB_TOKEN}@github.com/ci-forks/hadron.git

          # Add upstream and sync main
          git remote add upstream $UPSTREAM_REPO || true
          git fetch upstream
          git checkout main
          git reset --hard upstream/main
          git push origin main --force

          # Create and checkout work branch
          git checkout -B $WORK_BRANCH

          # Run bump and commit changes
          ls -ltra
          bump update -v
          
          git add Dockerfile
          git config user.name "$GIT_AUTHOR_NAME"
          git config user.email "$GIT_AUTHOR_EMAIL"
          git commit -s -m "Bump packages" || echo "No changes to commit"
          git push origin $WORK_BRANCH --force

          # Create PR
          gh pr create --title "Automatic version bumps" --body "This PR contains automatic version bumps." --head ci-forks:$WORK_BRANCH --base main --repo kairos-io/hadron --label "auto-bump"
