name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest-16-cores
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Build Docker image
      run: |
        make build
        
    - name: Rename and push image to ttl.sh
      run: |
        docker tag ukairos:latest ttl.sh/ukairos:1h
        docker push ttl.sh/ukairos:1h
  
  factory:
    permissions:
      contents: write
      security-events: write
      id-token: write
      actions: read
    name: Factory uKairos
    needs: build
    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@main
    with:
      base_image: ttl.sh/ukairos:1h
      model: "generic"
      arch: "amd64"
      version: "auto"
      iso: true
      grype: true
      summary_artifacts: true