name: Build examples

on:
  workflow_dispatch:
  push:
    paths:
      - '../../examples/add-packages/**'

jobs:
  build:
    name: ${{ matrix.extra-file }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        extra-file:
          - "Dockerfile.git"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Dockerfile
        uses: docker/build-push-action@v6
        with:
          file: examples/add-packages/${{ matrix.extra-file }}