name: firmware.yml
on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - '*'

concurrency:
  group: ci-firmware-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true

jobs:
  firmware:
    runs-on: oracle-24cpu-384gb-x86-64
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master
        with:
          buildkitd-config-inline: |
            [worker.oci]
              max-parallelism = 4
      - name: Log in to the Container registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build firmware
        run: |
          ./firmware.sh --build
      - name: Publish firmware
        if: github.event_name != 'pull_request'
        run: |
          ./firmware.sh --build --push --repository ghcr.io/${{ github.repository }}
      - name: Build sysexts
        run: |
          ./firmware.sh --sysext
      - name: Build signed sysext
        run: |
          ./firmware.sh --sysext --private-key tests/assets/keys/PK.key --certificate tests/assets/keys/PK.pem
