---
name: 'build container images'

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - '*'
concurrency:
  group: ci-image-${{ github.head_ref || github.ref }}-${{ github.repository }}
  cancel-in-progress: true
jobs:
  docker:
    runs-on: oracle-24cpu-384gb-x86-64
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master
        with:
          buildkitd-config-inline: |
            [worker.oci]
              max-parallelism = 4
      - name: Log in to the Container registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@032a4b3bda1b716928481836ac5bfe36e1feaad6
        with:
          images: |
             ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{raw}}
            type=ref,event=branch
          flavor: |
            latest=auto
            prefix=
            suffix=
      - name: Build and push
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=hadron/ci-image-${{ github.ref_name }}
          cache-to: type=gha,mode=max,scope=hadron/ci-image-${{ github.ref_name }}
      - name: Build PR
        if: github.event_name == 'pull_request'
        uses: docker/build-push-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: ttl.sh/hadron:${{ github.sha }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=hadron/ci-image-main
  build:
    runs-on: ubuntu-latest
    needs:
      - docker
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile.init
          push: true
          tags: ttl.sh/hadron-init:${{ github.sha }}
          build-args: |
            BASE_IMAGE=ttl.sh/hadron:${{ github.sha }}
            VERSION=v0.0.1-${{ github.sha }}
  build-iso:
    runs-on: ubuntu-latest
    needs:
      - build
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master
      - name: Build ISO
        run: |
          mkdir build
          docker run --rm -v /var/run/docker.sock:/var/run/docker.sock \
          -v $PWD/build/:/output \
          quay.io/kairos/auroraboot:v0.13.0 --debug build-iso --output /output/ \
          --override-name kairos-hadron-${{ github.sha }} \
          docker:ttl.sh/hadron-init:${{ github.sha }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: kairos-hadron-${{ github.sha }}.iso.zip
          path: build/*.iso
  tests:
    runs-on: ubuntu-latest
    name: ${{ matrix.test }} tests
    needs:
      - build-iso
    if: github.event_name == 'pull_request'
    strategy:
      matrix:
        test:
          - "acceptance"
          - "reset"
          - "custom-partitioning"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v5
        timeout-minutes: 5
        with:
          go-version-file: tests/go.mod
          cache-dependency-path: tests/go.sum
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          name: kairos-hadron-${{ github.sha }}.iso.zip
      - name: Enable KVM group perms
        run: |
          sudo apt-get update
          sudo apt-get install -y libvirt-clients libvirt-daemon-system libvirt-daemon virtinst bridge-utils qemu-system qemu-system-x86 qemu-system-x86 qemu-utils qemu-kvm acl udev mkisofs swtpm
          sudo setfacl -m u:runner:rwx /dev/kvm
      - name: Run tests
        env:
          USE_QEMU: true
          KVM: true
          MEMORY: 5000
          DRIVE_SIZE: 50000
          CREATE_VM: true
          CPUS: 4
        run: |
          export ISO=$PWD/$(ls *.iso|grep -v ipxe | head -1 )
          echo "ISO is: $ISO"
          cp tests/go.* .
          go mod download
          go run github.com/onsi/ginkgo/v2/ginkgo -v --fail-fast -r --label-filter "${{ matrix.test }}" ./tests/
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: failure()
        with:
          name: acceptance-${{github.sha}}.logs.zip
          path: tests/**/logs/*
          if-no-files-found: warn


